body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.container {
  color: rgba(246, 0, 0, 0);
}
#delete:hover,
#addSkill:hover {
  background-color: aqua;
}
#addSkill, #delete {
  background-color: rgb(250, 241, 142);
}